<%= content_for :head do %>
  <script>
    window.googleMapsKey = "<%= ENV["GOOGLE_MAPS_KEY"] %>";
  </script>
<% end %>

<h1 class="text-3xl text-center text-white my-4 font-bold">
  <%= t("events.edit.title") %>
</h1>

<main class="max-w-4xl mx-auto p-4">
  <%= render "form",
        event: @event,
        cancel_path: event_path(@event),
        cancel_key: "events.edit.cancel",
        submit_key: "events.edit.submit" %>
</main>
