<header class="h-[10dvh] p-6 sm:p-8">
  <div class="max-w-7xl mx-auto flex justify-center items-center h-full">
    <div class="flex items-end space-x-3">
      <div class="w-10 h-10 flex items-center justify-center">
        <%= image_tag "flipflapp_logo.png", alt: "Logo", width: 40, height: 40, class: "object-contain" %>
      </div>
      <span class="text-2xl font-bold text-title-yellow">FlipFlapp</span>
    </div>
  </div>
</header>
