<div class="grid grid-cols-2 mb-8">

  <div class="place-content-center">
    <%= image_tag "home/player_10.png", alt: "Joueur de football", class: "object-contain max-h-30" %>
  </div>

  <div class="flex justify-center items-center">
    <!-- smartphone -->
    <%= render "pages/components/svg/smartphone" %>

    <!-- Feuille de match -->
    <%= render "pages/components/svg/board" %>
  </div>

</div>
