<%# 10dvh %>
<%= render 'pages/components/header' %>

<%# 80dvh %>
<main class="flex-1 px-4 sm:px-8 py-4">
  <%= render 'pages/components/carrousel_container' %>

<section class="min-h-screen p-4">
  <div class="max-w-md mx-auto" data-controller="home--hide-scroll-btn">
    <!-- Header -->
    <div class="text-center mb-8 pt-8">
      <h2 class="text-3xl text-white mb-2" id="beta-tester-title">Rejoignez les beta testeurs</h2>
    </div>

    <%= render 'pages/components/go_to_btn' %>
    <!-- Formulaire -->
    <%= render "beta_testers/form/new", beta_tester: @beta_tester %>
  </div>
</section>
</main>
