<div class="bg-gray-600 p-4 col-span-2">

  <h2 class="text-center text-white">
    <%= bench.name %>
  </h2>

  <div id="all-players-team-1" class="grid grid-cols-1 gap-2 mt-2">
    <% bench.event_participants.each do |player| %>
      <div class="bg-gray-500 p-2 text-center text-indigo-100/80">
        <%= player.user.first_name %> <%= player.user.last_name %>
      </div>
    <% end %>
  </div>

  <% unless bench.in_this_team?(current_user) %>
    <%= button_to "Rejoindre l'équipe",
      event_event_participants_path(event),
      params: { event_participant: { event_team_id: bench.id } },
      method: :post,
    class: "px-4 py-2 bg-green-600 text-white rounded-lg hover:bg-green-700 active:scale-95 transition" %>
  <% end %>

</div>

<%# render 'event_teams/components/bench', event: @event, bench: @bench %>
