<div class="rounded-2xl bg-slate-700/80 backdrop-blur-md shadow-md p-3 flex flex-col gap-2 col-span-2">

  <h2 class="text-center font-bold text-white">
    <%= bench.name %>
  </h2>

  <div class="grid grid-cols-2 gap-1">
    <% if bench.event_participants.empty? %>
      <p class="text-center text-gray-400 col-span-2">Aucun joueur sur le banc</p>
    <% end %>
    <% bench.event_participants.each do |event_participant| %>

      <%= render 'event_participants/one_player_bench_card', event_participant: event_participant %>

    <% end %>
  </div>

  <% unless bench.in_this_team?(current_user) %>
    <div class="mt-4">
      <%= render 'event_participants/form_btn', event: event, team: bench %>
    </div>
  <% end %>

</div>

<%# render 'event_teams/components/bench', event: @event, bench: @bench %>
