<div class="bg-red-900 p-4">

  <h2 class="text-center text-white">
    <%= team_2.name %>
  </h2>

  <div id="all-players-team-1" class="grid grid-cols-1 gap-2 mt-2">
    <% team_2.event_participants.each do |player| %>
      <div class="bg-red-800 p-2 text-center text-indigo-100/80">
        <%= player.user.first_name %>
      </div>
    <% end %>
  </div>

  <% unless team_2.in_this_team?(current_user) %>
    <%= render 'event_participants/form_btn', event: event, team: team_2 %>
  <% end %>

</div>

<%# render 'event_teams/components/team_2', event: @event, team_2: @team_2 %>
