<%= content_for :title do %>
  Mot de passe modifié sur Flipflapp
<% end %>

<h1>Salut <%= @resource.first_name %>,<br> ton mot de passe a été modifié !</h1>

<p>Nous te contactons pour t'informer que ton mot de passe a été changé avec succès.</p>

<p>Cette modification a été effectuée depuis ton compte Flipflapp.</p>

<p style="text-align: center;">
  <%= link_to 'Accéder à mon compte', unauthenticated_root_url, class: "btn" %>
</p>

<p style="text-align: center;">Si tu n'es pas à l'origine de ce changement, contacte-nous immédiatement.</p>
