<%= content_for :title do %>
  Réinitialisation du mot de passe - Flipflapp
<% end %>

<h1>Salut <%= @resource.first_name %>,<br> tu as demandé un nouveau mot de passe !</h1>

<p>Tu as reçu cet email car tu as demandé à réinitialiser ton mot de passe sur Flipflapp.</p>

<p>Pour créer un nouveau mot de passe, clique sur le bouton ci-dessous :</p>

<p style="text-align: center;">
  <%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token), class: "btn" %>
</p>

<p style="text-align: center;">Si tu n'as pas demandé cette réinitialisation, ignore simplement cet email.</p>
<p style="text-align: center;">Ton mot de passe ne changera que si tu accèdes au lien ci-dessus et en crées un nouveau.</p>
